<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/staff-head', { title : "Upcoming Events"}) %>
    <link rel="stylesheet" href="/styles/staff/employee-event.css" />
  </head>

  <body>
    <div class="main">
      <%- include('../includes/staff-aside') %>
      <div class="main-content">
        <%- include('../includes/staff-header', { title: 'Events' , subTitle:
        'Upcoming Events in collage' }) %>
        <div class="container">
          <div class="tablecontent">
            <div class="tablecontent">
                     <table>
                        <tr>
                            <th>EVENT NAME</th>
                            <th>Coordinator Name</th>
                            <th>Contact No.</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Target Audience</th>
                        </tr>
                        <% events.forEach(event => { %>
                        <tr>
                            
                            <td><%= event.name %></td>
                            <td><%= event.coordinator %></td>
                            <td><%= event.contact %></td>
                            <td><%= event.date %></td>
                            <td><%= event.time %></td>
                            <td><%= event.place %></td>
                            <td><%= event.targetAudience %></td>
                        </tr>
                        <% }) %>
                    </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
